.color-button {
  padding: 20px;
  background-color: darkolivegreen;
  border: none;
  color: white;
  font-size: 14pt;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
}

.color-button:hover {
  background-color: #50562A;
}

.color-button-disabled {
  padding: 20px;
  background-color: darkgray;
  border: 1px solid darkgray;
  color: white;
  font-size: 14pt;
  border-radius: 6px;
  width: 100%;
  font-weight: 600;
}