.color-button {
  padding: 24px;
  background-color: darkolivegreen;
  border: none;
  color: white;
  font-size: 14pt;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  margin-top: 30px;
}

.color-button:hover {
  background-color: #50562A;
}